Source: kunitconversion
Section: libs
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 0.0.14),
               libkf5config-dev (>= 4.100.0),
               libkf5i18n-dev (>= 4.100.0),
               libkf5kjs-dev (>= 4.100.0),
               pkg-kde-tools,
               qtbase5-dev
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/kunitconversion

Package: libkf5unitconversion-dev
Section: libdevel
Architecture: any
Depends: libkf5unitconversion5 (= ${binary:Version}), ${misc:Depends},
 libkf5config-dev,
 libkf5i18n-dev,
 qtbase5-dev
Description: development files for kunitconversion
 Library to help applications in doing conversions of
 values in different measure units.
 .
 Contains development files for kunitconversion.
 
Package: libkf5unitconversion5
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends},
 libkf5unitconversion-data (= ${source:Version})
Description: Support for unit conversion.
 Library to help applications in doing conversions of
 values in different measure units.

Package: libkf5unitconversion-data
Architecture: all
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Support for unit conversion.
 Library to help applications in doing conversions of
 values in different measure units.
 .
 This package contains the translations.

Package: libkf5unitconversion5-dbg
Section: debug
Architecture: any
Depends: libkf5unitconversion5 (= ${binary:Version}), ${misc:Depends}
Description: debug symbols for kunitconversion
 Library to help applications in doing conversions of
 values in different measure units.
 .
 Contains debug symbols for kunitconversion.
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Priority: extra
